langchain==0.2.16
python-dotenv
ipykernel
langchain-community
pypdf
langchain-text-splitters
langchain-openai
sentence-transformers
langchain_huggingface
faiss-cpu
beautifulsoup4
streamlit
langchain-groq
langchain-core
langchain-chroma
bs4
arxiv
wikipedia
duckdb
duckduckgo-search
pymupdf
fastapi
langserve
sse_starlette
mysql-connector-python
SQLAlchemy
validators
pytube
unstructured
youtube-transcript-api
numexpr
huggingface_hub
cassio
datasets
tiktoken
PyPDF2
